*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.enlace_a{
    background-color: cyan;
}
.enlace_b{
    background-color: cyan;
}
.titulo{
    background-color: rgb(6, 114, 114);
}
.tabla1 {
    margin: 50px; 
    padding: 50px;  
    width: 100%;
    border-collapse: collapse;
    display: grid;
    
}
.tabla2{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.mod{
    padding: 0;
}
.mod td{
    border: none;
}

th, td {
    height: 100%;
    position: relative;
    border: 5px groove black;
    padding: 8px;
    text-align: center;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    height: 100%;
    width: 100px;
    border: 1px solid black;
    
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
img{
    height: 100%;
    width: 70%;
}
.Remotas{
    background-color: white;
}
.Analizadores{
    background-color: white;
}
.Index{
    background-color:white;
}
.pegao{
    background-color: #343a40;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    z-index: 1;
}
.enlace{
    height: 100%;
}


.caja{
    position: absolute;
    top: calc(0% - 5px);
    right: 98%;
    width: 5px;
    height: 108%;
    background: linear-gradient(to left, rgb(80, 79, 79) 50%, black 50%);
   
  }

